.container{
    background-color: red;
    height: 700px;
    width: 900px;
    display: grid;
    /* grid-template-columns: 133px 133px 133px;
    grid-template-rows: 133px 133px 133px; */
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.item{
    background-color: aqua;
    /* width: 122px;
    height: 122px; */

}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: aqua;

}